@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
         </div>
    </section>
}
<ol class="round">
    <li class="rerrr">
        <h5>Knock out tools</h5>
        <a href="/KnockOut">Go…</a>
    </li>

    <li>
        <h5>Add NuGet packages and jump-start your coding</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li>
        <h5>Find Web Hosting</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
