@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
         </div>
    </section>
}
<ol class="round">
    <li>
        <h5>Knock out form</h5>
        <a href="/KnockOut">Go…</a>
    </li>

    <li>
        <h5>Knock out form</h5>
        <a href="/KnockOut/Table">Go…</a>
    </li>
</ol>
